In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [23]:
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, 4].values

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [25]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [26]:
y_pred = classifier.predict(X_test)

In [27]:
classifier.predict([[30,15000]])

array([0], dtype=int64)

In [30]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
ac = accuracy_score(y_test,y_pred)
ac

0.925

In [36]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[56  2]
 [ 4 18]]

In other words, for a binary confusion matrix, the TP, TN, FP, and FN

In [34]:
result=classification_report(y_test, y_pred)
print(result)

              precision    recall  f1-score   support

           0       0.93      0.97      0.95        58
           1       0.90      0.82      0.86        22

    accuracy                           0.93        80
   macro avg       0.92      0.89      0.90        80
weighted avg       0.92      0.93      0.92        80

# Task1

# Gussing the gender based on Age and EstimatedSalary.